.choose {
	width: 300px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	position: absolute;
	top:400px;
	left: calc(50% - 150px);
}

.facetlb {
	display: inline-block;
	width: 120px;
	height: 60px;
	margin: 10px;
	font-size: 30px;
	font-family: "宋体";
	color: white;
	/* 文字水平居中 */
	text-align: center;
	/* 文字行高=元素高度,实现文字垂直居中 */
	line-height: 60px;
	border: 1px solid burlywood;
	border-radius: 10px;
	transition: all 0.5s;
	/* 利用动画实现闪闪发光的效果 */
	animation: donghua 1s infinite alternate;
}
.facetlb:hover {
	box-shadow: 0 0 20px skyblue;
}

@keyframes donghua {
	from {
		text-shadow: 0px 0px 20px yellow, 0px 0px 10px orange, 0px 0px 10px orangered, 0px 0px 5px red;
	}

	to {
		text-shadow: 0px 0px 10px yellow, 0px 0px 5px orange, 0px 0px 5px orangered, 0px 0px 2.5px red;
	}
}
#front:checked~.cube{
	transform: rotateX(0deg) rotateY(0deg) rotateZ(360deg);
}
#front:checked~.choose [for="front"]{
	background: lightskyblue;
	font-size: 50px;
	box-shadow: 0 0 20px skyblue;
}
#back:checked~.cube{
	transform: rotateX(0deg) rotateY(900deg) rotateZ(-360deg);
}
#back:checked~.choose [for="back"]{
	background: lightskyblue;
	font-size: 50px;
	box-shadow: 0 0 20px skyblue;
}
#left:checked~.cube{
	transform: rotateX(0deg) rotateY(450deg) rotateZ(720deg);
}
#left:checked~.choose [for="left"]{
	background: lightskyblue;
	font-size: 50px;
	box-shadow: 0 0 20px skyblue;
}
#right:checked~.cube{
	transform: rotateX(0deg) rotateY(-450deg) rotateZ(-720deg);
}
#right:checked~.choose [for="right"]{
	background: lightskyblue;
	font-size: 50px;
	box-shadow: 0 0 20px skyblue;
}
#top:checked~.cube{
	transform: rotateX(-450deg) rotateY(0deg) rotateZ(-1080deg);
}
#top:checked~.choose [for="top"]{
	background: lightskyblue;
	font-size: 50px;
	box-shadow: 0 0 20px skyblue;
}
#bottom:checked~.cube{
	transform: rotateX(450deg) rotateY(0deg) rotateZ(1080deg);
}
#bottom:checked~.choose [for="bottom"]{
	background: lightskyblue;
	font-size: 50px;
	box-shadow: 0 0 20px skyblue;
}
